---
import Layout from "../layouts/Layout.astro";
---

<Layout home>
  <main>
    <div class="flex flex-wrap gap-y-10 m-12">
      <div>
        <h1 class="mb-4 font-bold text-4xl uppercase">About Me</h1>
        <p>
          My name is Devaune, you may know me online as "devnote" or more
          commonly Devonte which I also go by in the real world. I am a software
          developer from the UK working on various open&ndash;source and
          commercial projects, some of which you can find on my GitHub. I'm also
          a public transport enthusiast, a hobbyist photographer drawn towards
          nature, historic landmarks and dark &amp; liminal spaces. Most of my
          photography work is private but I do plan to publish them in the not
          too distant future.
        </p>
      </div>
      <div>
        <h1 class="mb-4 mt-4 md:mt-0 font-bold text-4xl uppercase">Contact</h1>
        <p>
          You can reach me via email (<a
            class="underline transition duration-200 ease-in-out hover:text-blue-600"
            href="mailto:devnote.dev75@gmail.com">devnote.dev75@gmail.com</a
          >) or via LinkedIn if you prefer (<a
          class="underline transition duration-200 ease-in-out hover:text-blue-600"
          href="https://www.linkedin.com/in/devaune-w-10bb55233">Devaune W</a
        >). I'm not guaranteed to be active on any other social media platforms so
        </p>
      </div>
    </div>
  </main>
</Layout>
