<footer class="h-14 w-full bg-[#fadfa8] bg-opacity-55 shadow-t-lg text-center">
  <div class="flex items-center justify-center">
    <a
      class="mt-4 transition duration-200 ease-in-out text-black opacity-55 hover:opacity-80"
      href="https://github.com/devnote-dev/website"
    >
      &copy; 2024 devnote-dev
    </a>
  </div>
</footer>
