---
import NavLink from "./NavLink.astro";
---

<nav
  class="w-full h-14 flex flex-wrap items-center justify-center gap-x-6 bg-[#fadfa8] bg-opacity-55 shadow-lg"
>
  <NavLink name="About" url="/" />
  <NavLink name="Experience" url="/experience" />
  <NavLink name="Photography" url="/photograpghy" />
  <NavLink name="GitHub" url="https://github.com/devnote-dev" />
</nav>
